

body{
  height: 100vh;
  background-color: black;
}


/* Вся верхнаяя часть html элементов здесь */
.top{
  display: flex;
  justify-content:space-around;
  height: 60px;
  margin-bottom: 50px;
  padding: 10px;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_element{
  display: inline-block;
  width: 50px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

.menu_element:hover{
  color: rgb(238, 121, 121);
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.element{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: grey;
  display: inline-block;
}

.element:hover{
  opacity: 0.6;
}



/* Это стили html элементов которые появляються после игры   */
.after_game{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.you_win{
  display: none;
  font-size: 100px;
  word-spacing: 20px;
  color: red;
}

.result{
  color: white;
  font-size: 50px;
  display: none;
}

.play_again{
  display: none;
  width: 150px;
  height: 50px;
  font-size: 20px;
  background-color: black;
  color: white;
  border-width: 0px;
}

.play_again:hover{
  color: rgb(245, 102, 131);
}



/* Это все что находиться в игровом поле */
.playGround{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header{
  display: flex;
}

h1{
  color: white
}

.row{
  display: flex;
  gap: 20px;
}

.ball{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: aquamarine;
}

#target_color{
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: aquamarine;
  margin: 20px;
}

.buttons{
  display: flex;
  gap: 20px;
}

.buttons > *{
  width: 150px;
  height: 50px;
  font-size: 20px;
  background-color: black;
  border-color: black;
  color: white;
  margin: 20px 0 0 0;
  border-width: 0px;
}

.buttons > *:hover{
  color: rgb(247, 112, 139);
}

.time > *{
  color: white;
}
